Attention tout les fichiers doivent avoir le meme format

In [ ]:
!rm -rf <data_csv>

/bin/bash: -c: line 0: syntax error near unexpected token `newline'
/bin/bash: -c: line 0: `rm -rf <data_csv>'

In [ ]:
from google.colab import files
F = files.upload()

Saving data_labo_etalon_25.txt to data_labo_etalon_25.txt
Saving data_labo_etalon_24.txt to data_labo_etalon_24.txt
Saving data_labo_etalon_23.txt to data_labo_etalon_23.txt
Saving data_labo_etalon_22.txt to data_labo_etalon_22.txt
Saving data_labo_etalon_21.txt to data_labo_etalon_21.txt
Saving data_etalon_labo_20.txt to data_etalon_labo_20.txt
Saving data_etalon_labo_19 .txt to data_etalon_labo_19 .txt
Saving data_labo_etalon_18.txt to data_labo_etalon_18.txt
Saving DATA_LABO_ETALON_17.txt to DATA_LABO_ETALON_17.txt
Saving DATA_LABO_ETALON_16.txt to DATA_LABO_ETALON_16.txt
Saving data_etalon_labo_15.txt to data_etalon_labo_15.txt
Saving data_labo_etalon_14.txt to data_labo_etalon_14.txt
Saving data_labo_etalon_13.txt to data_labo_etalon_13.txt
Saving data_labo_etalon_12.txt to data_labo_etalon_12.txt
Saving data_etalon_labo_11.txt to data_etalon_labo_11.txt
Saving data_labo_etalon_10.txt to data_labo_etalon_10.txt
Saving fil_1n.txt to fil_1n.txt
Saving file_03.txt to file_03.txt
Saving file_02.txt to file_02.txt
Saving data_labo_etalon_9.txt to data_labo_etalon_9.txt
Saving data_labo_etalon_8.txt to data_labo_etalon_8.txt
Saving data_labo_etalon_7.txt to data_labo_etalon_7.txt
Saving data_lano_etalon_6.txt to data_lano_etalon_6.txt
Saving data_labo_etalon_5.txt to data_labo_etalon_5.txt
Saving data_labo_etalon_4.txt to data_labo_etalon_4.txt
Saving data_labo_etalon_3.txt to data_labo_etalon_3.txt
Saving data_labo_etalon_2.txt to data_labo_etalon_2.txt
Saving data_labo_etalon.txt to data_labo_etalon.txt

In [ ]:
# import required module
import os
import re
import pandas as pd

if not os.path.exists("/content/data_csv"):
  os.mkdir("/content/data_csv")
# assign directory
directory = '/content'

# iterate over files in
# that directory
for filename in os.listdir(directory):
	f = os.path.join(filename)
	# checking if it is a file
	if os.path.isfile(f):
		print(f)

data_labo_etalon_5.txt
data_labo_etalon_7.txt
data_labo_etalon_25.txt
data_labo_etalon_22.txt
data_labo_etalon_14.txt
file_02.txt
DATA_LABO_ETALON_16.txt
data_lano_etalon_6.txt
data_labo_etalon_9.txt
data_labo_etalon_8.txt
data_labo_etalon_12.txt
data_labo_etalon_24.txt
file_03.txt
data_labo_etalon_18.txt
data_etalon_labo_15.txt
data_labo_etalon_23.txt
data_labo_etalon_2.txt
fil_1n.txt
data_etalon_labo_11.txt
data_labo_etalon_3.txt
data_labo_etalon_4.txt
DATA_LABO_ETALON_17.txt
data_etalon_labo_19 .txt
data_etalon_labo_20.txt
data_labo_etalon_21.txt
data_labo_etalon_13.txt
data_labo_etalon_10.txt
data_labo_etalon.txt

In [ ]:


for filename in os.listdir(directory):
  f = os.path.join(filename)
  if os.path.isfile(f):
    ## creation des dico vide
    dico={} 
    dico_seq={} 

    ##ouverture du fichier fasta avant utilisation de la boucle pour le remplissage des dico 
    F=open(f, 'r') 

    ## j est un compteur pour le dico contenant l'ensemble des sequences  
    j=0 
    for i in F:
        clean = i.strip() ## eleminer les /n situe à la fin de la sequence 
        i = re.sub(r"\s+", " ", i)        

        if "received_at" in i :
          x=i
          x=x.replace('"received_at": "','')
          x=x.replace('",','')
          dico={}
          dico['date']=x
        if "do1" in i : 
          x=i
          x=x.replace('"do1":','')
          x=x.replace(',','')
          dico['do1']=x
        if "do2" in i : 
          x=i
          x=x.replace('"do2":','')
          x=x.replace(',','')
          dico['do2']=x
        
        if "ec" in i : 
          x=i
          x=x.replace('"ec":','')
          x=x.replace(',','')
          dico['ec']=x


        if "ph" in i : 
          x=i
          x=x.replace('"ph":','')
          x=x.replace(',','')
          dico['ph']=x

        if 'temp"' in i : 
          x=i
          x=x.replace('"temp":','')
          x=x.replace(',','')
          dico['temp']=x

        if "tempbox" in i : 
          x=i
          x=x.replace('"tempbox":','')
          x=x.replace(',','')
          dico['tempbox']=x

        if "turb" in i : 
          x=i
          x=x.replace('"turb":','')
          dico['turb']=x
          #flag=False
          dico_seq[j]=dico
          j=j+1
        
    F.close()

    data = pd.DataFrame(dico_seq)
    df=data.T

    df.to_csv("/content/data_csv/"+f+'.csv', sep='\t')

In [ ]:
all_filenames

['data_labo_etalon_25.txt.csv',
 'data_labo_etalon_9.txt.csv',
 'data_labo_etalon_14.txt.csv',
 'finale.csv',
 'data_etalon_labo_15.txt.csv',
 'data.csv',
 'data_labo_etalon_22.txt.csv',
 'file_03.txt.csv',
 'DATA_LABO_ETALON_17.txt.csv',
 'data_etalon_labo_11.txt.csv',
 'data_labo_etalon_23.txt.csv',
 'data_labo_etalon_13.txt.csv',
 'file_02.txt.csv',
 'fil_1n.txt.csv',
 'data_labo_etalon_12.txt.csv',
 'data_labo_etalon.txt.csv',
 'data_labo_etalon_4.txt.csv',
 'data_labo_etalon_10.txt.csv',
 'data_labo_etalon_24.txt.csv',
 'data_lano_etalon_6.txt.csv',
 'DATA_LABO_ETALON_16.txt.csv',
 'data_labo_etalon_21.txt.csv',
 'data_etalon_labo_19 .txt.csv',
 'data_labo_etalon_8.txt.csv',
 'data_labo_etalon_5.txt.csv',
 'data_labo_etalon_2.txt.csv',
 'combined_csv.csv',
 'data_labo_etalon_7.txt.csv',
 'data_labo_etalon_3.txt.csv',
 'data_labo_etalon_18.txt.csv',
 'data_etalon_labo_20.txt.csv']

In [ ]:
import glob
os.chdir("/content/data_csv")


extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]


#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames])

#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')
#combined_csv

In [ ]:
combined_csv.columns

Index(['\tdate\tec\tdo1\tdo2\tph\ttemp\ttempbox\tturb'], dtype='object')

In [ ]:
pd.read_csv('combined_csv.csv',sep="\t")
data = pd.read_csv("combined_csv.csv", sep="\t") 
data=data.drop(columns=data.columns[0],axis=1)
data=data.sort_values(["date"],axis=0)
data

,date,ec,do1,do2,ph,temp,tempbox,turb
47326,2022-10-07T18:23:02.645207440Z,-216.477,NaN,NaN,6.978,20.625,20.688,-17859.376
47304,2022-10-07T18:23:02.645207440Z,-216.477,NaN,NaN,6.978,20.625,20.688,-17859.376
31485,2022-10-07T18:23:02.645207440Z,-216.477,NaN,NaN,6.978,20.625,20.688,-17859.376
31484,2022-10-07T18:25:16.592954159Z,-216.477,NaN,NaN,7.006,20.625,20.688,-17859.376
47303,2022-10-07T18:25:16.592954159Z,-216.477,NaN,NaN,7.006,20.625,20.688,-17859.376
...,...,...,...,...,...,...,...,...
4,2023-01-02T10:25:05.555145484Z,1308.172,76.977,7135.744,7.265,19.313,20.438,39.535
3,2023-01-02T10:29:05.017041876Z,1308.172,77.093,7146.524,7.265,19.313,20.438,27.132
2,2023-01-02T10:31:09.913076395Z,1308.172,77.442,7178.861,7.265,19.313,20.438,29.458
1,2023-01-02T10:33:14.838142952Z,1308.172,76.047,7049.512,7.265,19.313,20.438,184.496
0,2023-01-02T10:37:14.308020257Z,1308.172,75.930,7038.733,7.294,19.313,20.438,120.155

In [ ]:
data['date']=pd.to_datetime(data['date'])

In [ ]:
dat=pd.to_datetime(data.date).dt.strftime('%Y-%m-%d %H:%M:%S')
day=pd.to_datetime(data.date).dt.date
time=pd.to_datetime(data.date).dt.strftime('%H:%M')
data.insert(1,"day",day,True)
data.insert(2,"time",time,True)
data.date=dat

In [ ]:
dat

47326    2022-10-07 18:23:02
47304    2022-10-07 18:23:02
31485    2022-10-07 18:23:02
31484    2022-10-07 18:25:16
47303    2022-10-07 18:25:16
                ...
4        2023-01-02 10:25:05
3        2023-01-02 10:29:05
2        2023-01-02 10:31:09
1        2023-01-02 10:33:14
0        2023-01-02 10:37:14
Name: date, Length: 119411, dtype: object

In [ ]:
data.to_csv( "data.csv", index=False, encoding='utf-8-sig')

In [ ]:
data.columns

Index(['date', 'day', 'time', 'ec', 'do1', 'do2', 'ph', 'temp', 'tempbox',
       'turb'],
      dtype='object')

In [ ]:
with open('data.csv','r') as in_file, open('finale.csv','w') as out_file:
    seen = set()
    for line in in_file:
        if line in seen: continue

        seen.add(line)
        out_file.write(line)

In [ ]:
pd.read_csv('finale.csv',sep="\t")

           date,day,time,ec,do1,do2,ph,temp,tempbox,turb
0      2022-10-07 18:23:02,2022-10-07,18:23,-216.477,...
1      2022-10-07 18:25:16,2022-10-07,18:25,-216.477,...
2      2022-10-07 18:41:24,2022-10-07,18:41,696.309,-...
3      2022-10-07 18:43:36,2022-10-07,18:43,695.378,-...
4      2022-10-07 18:45:49,2022-10-07,18:45,726.248,-...
...                                                  ...
34541  2023-01-02 10:25:05,2023-01-02,10:25,1308.172,...
34542  2023-01-02 10:29:05,2023-01-02,10:29,1308.172,...
34543  2023-01-02 10:31:09,2023-01-02,10:31,1308.172,...
34544  2023-01-02 10:33:14,2023-01-02,10:33,1308.172,...
34545  2023-01-02 10:37:14,2023-01-02,10:37,1308.172,...

[34546 rows x 1 columns]

In [ ]:
files.download("finale.csv")

FIn du code

In [ ]:
data.date

38256      2022-10-07T18:23:02.645207440Z
123922     2022-10-07T18:23:02.645207440Z
189200     2022-10-07T18:23:02.645207440Z
61509      2022-10-07T18:23:02.645207440Z
147175     2022-10-07T18:23:02.645207440Z
                        ...
67425      2023-01-02T10:31:09.913076395Z
67424      2023-01-02T10:33:14.838142952Z
153090     2023-01-02T10:33:14.838142952Z
153089     2023-01-02T10:37:14.308020257Z
67423      2023-01-02T10:37:14.308020257Z
Name: date, Length: 238822, dtype: object

In [ ]:
today

38256      2022-10-07T18:23:02.645207440Z
123922     2022-10-07T18:23:02.645207440Z
189200     2022-10-07T18:23:02.645207440Z
61509      2022-10-07T18:23:02.645207440Z
147175     2022-10-07T18:23:02.645207440Z
                        ...
67425      2023-01-02T10:31:09.913076395Z
67424      2023-01-02T10:33:14.838142952Z
153090     2023-01-02T10:33:14.838142952Z
153089     2023-01-02T10:37:14.308020257Z
67423      2023-01-02T10:37:14.308020257Z
Name: date, Length: 238822, dtype: object

In [ ]:
pd.to_datetime(data['date'])

38256    2022-10-07 18:23:02.645207440+00:00
123922   2022-10-07 18:23:02.645207440+00:00
189200   2022-10-07 18:23:02.645207440+00:00
61509    2022-10-07 18:23:02.645207440+00:00
147175   2022-10-07 18:23:02.645207440+00:00
                         ...
67425    2023-01-02 10:31:09.913076395+00:00
67424    2023-01-02 10:33:14.838142952+00:00
153090   2023-01-02 10:33:14.838142952+00:00
153089   2023-01-02 10:37:14.308020257+00:00
67423    2023-01-02 10:37:14.308020257+00:00
Name: date, Length: 238822, dtype: datetime64[ns, UTC]

In [ ]:
day=pd.to_datetime(data.date).dt.date
time=pd.to_datetime(data.date).dt.strftime('%H:%M')
data.insert(1,"day",day,True)
data.insert(2,"time",time,True)

In [ ]:
data.insert(1,"day",day,True)
data.insert(2,"time",time,True)

In [ ]:
data

,date,day,time,day,time,day,time,day,ec,do1,do2,ph,temp,tempbox,turb
38256,2022-10-07 18:23:02.645207440+00:00,2022-10-07,18:23,2022-10-07,18:23:02.645207,2022-10-07,18:23:02.645207,2022-10-07,-216.477,NaN,NaN,6.978,20.625,20.688,-17859.376
123922,2022-10-07 18:23:02.645207440+00:00,2022-10-07,18:23,2022-10-07,18:23:02.645207,2022-10-07,18:23:02.645207,2022-10-07,-216.477,NaN,NaN,6.978,20.625,20.688,-17859.376
189200,2022-10-07 18:23:02.645207440+00:00,2022-10-07,18:23,2022-10-07,18:23:02.645207,2022-10-07,18:23:02.645207,2022-10-07,-216.477,NaN,NaN,6.978,20.625,20.688,-17859.376
61509,2022-10-07 18:23:02.645207440+00:00,2022-10-07,18:23,2022-10-07,18:23:02.645207,2022-10-07,18:23:02.645207,2022-10-07,-216.477,NaN,NaN,6.978,20.625,20.688,-17859.376
147175,2022-10-07 18:23:02.645207440+00:00,2022-10-07,18:23,2022-10-07,18:23:02.645207,2022-10-07,18:23:02.645207,2022-10-07,-216.477,NaN,NaN,6.978,20.625,20.688,-17859.376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67425,2023-01-02 10:31:09.913076395+00:00,2023-01-02,10:31,2023-01-02,10:31:09.913076,2023-01-02,10:31:09.913076,2023-01-02,1308.172,77.442,7178.861,7.265,19.313,20.438,29.458
67424,2023-01-02 10:33:14.838142952+00:00,2023-01-02,10:33,2023-01-02,10:33:14.838142,2023-01-02,10:33:14.838142,2023-01-02,1308.172,76.047,7049.512,7.265,19.313,20.438,184.496
153090,2023-01-02 10:33:14.838142952+00:00,2023-01-02,10:33,2023-01-02,10:33:14.838142,2023-01-02,10:33:14.838142,2023-01-02,1308.172,76.047,7049.512,7.265,19.313,20.438,184.496
153089,2023-01-02 10:37:14.308020257+00:00,2023-01-02,10:37,2023-01-02,10:37:14.308020,2023-01-02,10:37:14.308020,2023-01-02,1308.172,75.930,7038.733,7.294,19.313,20.438,120.155
67423,2023-01-02 10:37:14.308020257+00:00,2023-01-02,10:37,2023-01-02,10:37:14.308020,2023-01-02,10:37:14.308020,2023-01-02,1308.172,75.930,7038.733,7.294,19.313,20.438,120.155

In [ ]:
time=pd.to_datetime(data.date).dt.strftime('%H:%M')
#pd.to_datetime(time).dt.time
time

38256     18:23
123922    18:23
189200    18:23
61509     18:23
147175    18:23
          ...
67425     10:31
67424     10:33
153090    10:33
153089    10:37
67423     10:37
Name: date, Length: 238822, dtype: object

In [ ]:
pd.to_datetime(data.date).dt.time

38256     18:23:02.645207
123922    18:23:02.645207
189200    18:23:02.645207
61509     18:23:02.645207
147175    18:23:02.645207
               ...
67425     10:31:09.913076
67424     10:33:14.838142
153090    10:33:14.838142
153089    10:37:14.308020
67423     10:37:14.308020
Name: date, Length: 238822, dtype: object

In [ ]:
datetime.strptime(data.date,
                                 "%d%m%y%H%M%S")

SyntaxError: ignored